<a href="https://colab.research.google.com/github/Janina712/MLTSA_FinalProject/blob/main/tryouts/Data_preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pickle5

Requirement already satisfied: pickle5 in /usr/local/lib/python3.7/dist-packages (0.0.12)

In [ ]:
import pandas as pd
import numpy as np
import pylab as pl
import pickle5 as pickle
from pathlib import Path

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
cd /content/drive/MyDrive/MLTSA22/Final_Project

/content/drive/MyDrive/MLTSA22/Final_Project

In [ ]:
!ls /content/drive/MyDrive/MLTSA22/Final_Project

00000258_s002_t000.edf
00010563_s002_t004.pkl
all_tuh_eeg_seizure_links.txt
curated_features_w_metadata_df.pkl
dev__01_tcp_ar__002__00000258__s002_2003_07_21__00000258_s002_t000.edf
dev__01_tcp_ar__002__00000258__s003_2003_07_22__00000258_s003_t001.edf
files_raw_channels_small_df.pkl
isip_tuh_eeg
seizures_types_v01.xlsx
temp

In [ ]:
working_folder = Path('/content/drive/MyDrive/MLTSA22/Final_Project/')

In [ ]:
with open(working_folder.joinpath('curated_features_w_metadata_df.pkl'), "rb") as fh:
  feature_data = pickle.load(fh)

In [ ]:
feature_data.head()

,category,configuration,index,patient_#,session,windowed_features,windowed_labels
00008174_s002_t002,dev,01_tcp_ar,081,00008174,s002_2011_09_23,"[[-0.07362028956413269, 1.508935809135437, 2.5...","[False, False, False, False, False, False, Fal..."
00000458_s018_t003,eval,01_tcp_ar,004,00000458,s018_2014_06_30,"[[-0.03831588849425316, 0.7211886048316956, 2....","[False, False, False, False, False, False, Fal..."
00010427_s003_t008,train,01_tcp_ar,104,00010427,s003_2013_12_15,"[[0.028330158442258835, 0.41883909702301025, 1...","[False, False, False, False, False, False, Fal..."
00011081_s002_t002,train,01_tcp_ar,110,00011081,s002_2013_12_25,"[[-0.010738741606473923, 0.12738703191280365, ...","[False, False, False, False, False, False, Fal..."
00005028_s009_t001,eval,01_tcp_ar,050,00005028,s009_2014_08_15,"[[-0.05804503709077835, 5.135439872741699, 8.5...","[False, False, False, False, False, False, Fal..."

In [ ]:
feature_data.category.unique()

array(['dev', 'eval', 'train'], dtype=object)

In [ ]:

#feature_eval = feature_data[feature_data['category'] == 'eval']

In [ ]:
#creating train dataset
feature_train = feature_data[feature_data['category'] == 'train']

train_features = []
t_features = feature_train.windowed_features.values # 3172 * something shape
for series in t_features:
  for window in series:
    train_features.append(window)
train_features = np.array(train_features)
train_features.shape

train_labels = []
t_labels = feature_train.windowed_labels.values # 3172 * something shape
for series in t_labels:
  for window in series:
    train_labels.append(window)
len(train_labels)

(904720, 336)

In [ ]:
train = pd.DataFrame(
    train_features
)

In [ ]:
train['label'] = train_labels

In [ ]:
train.to_pickle(
    Path(working_folder).joinpath('train.pkl')
)

In [ ]:
del train, train_labels, train_features

In [ ]:
#creating test dataset
feature_test = feature_data[feature_data['category'] == 'dev']

test_features = []
te_features = feature_test.windowed_features.values # 3172 * something shape
for series in te_features:
  for window in series:
    test_features.append(window)
test_features = np.array(test_features)
print(test_features.shape)

test_labels = []
te_labels = feature_test.windowed_labels.values # 3172 * something shape
for series in te_labels:
  for window in series:
    test_labels.append(window)
print(len(test_labels))

(262891, 336)
262891

In [ ]:
test = pd.DataFrame(
    test_features
)

In [ ]:
test['label'] = test_labels

In [ ]:
test.to_pickle(
    Path(working_folder).joinpath('test.pkl')
)

In [ ]:
#creating eval dataset
feature_eval = feature_data[feature_data['category'] == 'eval']

eval_features = []
e_features = feature_eval.windowed_features.values # 3172 * something shape
for series in e_features:
  for window in series:
    eval_features.append(window)
eval_features = np.array(eval_features)
print(eval_features.shape)

eval_labels = []
e_labels = feature_eval.windowed_labels.values # 3172 * something shape
for series in e_labels:
  for window in series:
    eval_labels.append(window)
print(len(eval_labels))

(223820, 336)
223820

In [ ]:
eval = pd.DataFrame(
    eval_features
)

In [ ]:
eval['label'] = eval_labels

In [ ]:
eval.head()

,0,1,2,3,4,5,6,7,8,9,...,327,328,329,330,331,332,333,334,335,label
0,-0.038316,0.721189,2.473958,-2.587761,0.849228,394.528089,203.0,-0.298694,-0.097669,-0.006957,...,0.382300,-0.216412,0.027695,28.606761,31.286380,8.325493,10.655648,0.465500,3.044083,False
1,-0.062662,0.785365,2.473958,-3.413481,0.886208,400.920555,198.0,0.176351,-0.270621,-0.029243,...,0.659806,-0.201600,-0.008893,64.493173,28.940780,5.774952,12.512227,0.633906,2.769535,False
2,0.059195,0.726315,2.813293,-3.413481,0.852241,394.640710,205.0,0.630055,-0.273745,0.074663,...,0.822053,-0.139301,0.008519,33.304877,28.250024,6.088581,13.669424,0.529050,2.973368,False
3,-0.034419,0.716762,2.813293,-3.413481,0.846618,395.630479,205.0,0.502563,-0.208689,-0.021580,...,0.071521,-0.000305,-0.044297,38.920464,17.991321,7.284309,13.143892,0.583600,2.958294,False
4,0.019505,0.700032,2.813293,-3.413481,0.836679,387.498555,195.0,0.629046,-0.299743,0.054122,...,-0.095612,-0.066501,0.008172,27.736027,13.726586,6.457721,12.406072,0.597337,3.074275,False

In [ ]:
eval.to_pickle(
    Path(working_folder).joinpath('eval.pkl')
)

In [ ]:
del feature_data

In [ ]:
#percent of pos samples to neg samples in TEST
print(
    'The % of pos samples: ',
    (test_labels.count(True)) / (len(test_labels)) * 100
)
print(
    'The # of pos samples: ',
    (test_labels.count(True))
)
print(
    'The # of neg samples: ',
    (test_labels.count(False))
)

The % of pos samples:  10.310356763829876
The # of pos samples:  27105
The # of neg samples:  235786

In [ ]:
#percent of pos samples to neg samples in EVAL
print(
    'The % of pos samples: ',
    (eval_labels.count(True)) / (len(eval_labels)) * 100
)
print(
    'The # of pos samples: ',
    (eval_labels.count(True))
)
print(
    'The # of neg samples: ',
    (eval_labels.count(False))
)

The % of pos samples:  8.003753015816281
The # of pos samples:  17914
The # of neg samples:  205906

In [ ]:
#balance TEST dataset
remove_n_test = test_labels.count(False) - test_labels.count(True)
drop_indices_test = np.random.choice(
    test[test['label'] == False].index, remove_n_test, replace=False
)
test_balanced = test.drop(drop_indices_test)

In [ ]:
#check whether TEST dataset is balanced
print(
    'Pos samples in the test dataset: ',
    test_balanced[test_balanced['label'] == True].shape[0]
)
print(
    'Neg samples in the test dataset: ',
    test_balanced[test_balanced['label'] == False].shape[0]
)

Pos samples in the test dataset:  27105
Neg samples in the test dataset:  27105

In [ ]:
test_balanced.to_pickle(
    Path(working_folder).joinpath('test_balanced.pkl')
)

In [ ]:
#balance EVAL dataset
remove_n_eval = eval_labels.count(False) - eval_labels.count(True)
drop_indices_eval = np.random.choice(
    eval[eval['label'] == False].index, remove_n_eval, replace=False
)
eval_balanced = eval.drop(drop_indices_eval)

In [ ]:
#check whether EVAL dataset is balanced
print(
    'Pos samples in the test dataset: ',
    eval_balanced[eval_balanced['label'] == True].shape[0]
)
print(
    'Neg samples in the test dataset: ',
    eval_balanced[eval_balanced['label'] == False].shape[0]
)

Pos samples in the test dataset:  17914
Neg samples in the test dataset:  17914

In [ ]:
eval_balanced.to_pickle(
    Path(working_folder).joinpath('eval_balanced.pkl')
)

In [ ]:
with open(working_folder.joinpath('train.pkl'), "rb") as fh:
  train = pickle.load(fh)

In [ ]:
train.head()

,0,1,2,3,4,5,6,7,8,9,...,327,328,329,330,331,332,333,334,335,label
0,0.028330,0.418839,1.894889,-1.525217,0.647178,93.809523,68.0,-0.478043,0.099273,-0.034063,...,-0.539764,-0.273180,0.054559,13.908919,0.382422,0.081513,0.081460,0.037686,1.507757,False
1,0.010568,0.425953,1.894889,-1.525217,0.652650,93.469888,59.0,-0.495004,0.131992,-0.045003,...,-0.536391,-0.251497,0.051840,15.774777,0.344251,0.160959,0.077197,0.041424,1.415684,False
2,-0.015509,0.419900,1.894889,-1.525217,0.647997,92.964522,53.0,-0.447716,0.136992,-0.051244,...,-0.519285,-0.188489,0.010367,15.879807,0.416200,0.088030,0.113692,0.042309,1.487058,False
3,-0.001124,0.360411,1.894889,-1.367493,0.600342,89.741994,59.0,-0.156052,0.253674,-0.053931,...,-0.185484,-0.185281,-0.006205,11.550368,0.435322,0.187167,0.088073,0.044165,1.666313,False
4,0.020816,0.354298,1.894889,-1.367493,0.595230,89.814556,55.0,-0.044201,0.245103,0.007371,...,-0.195899,-0.070970,0.026612,8.266142,0.387474,0.077158,0.108611,0.041615,1.793668,False

In [ ]:
#balance TRAIN dataset
remove_n_train = train[train['label'] == False].shape[0] - train[train['label'] == True].shape[0]
drop_indices_train = np.random.choice(
    train[train['label'] == False].index, remove_n_train, replace=False
)
train_balanced = train.drop(drop_indices_train)

In [ ]:
#check whether EVAL dataset is balanced
print(
    'Pos samples in the train dataset: ',
    train_balanced[train_balanced['label'] == True].shape[0]
)
print(
    'Neg samples in the train dataset: ',
    train_balanced[train_balanced['label'] == False].shape[0]
)

Pos samples in the train dataset:  53168
Neg samples in the train dataset:  53168

In [ ]:
train_balanced.to_pickle(
    Path(working_folder).joinpath('train_balanced.pkl')
)